body {
    background-color: #F1F7ED;
    margin: 0%;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

section {
    margin-left: 3%;
    margin-right: 3%;
    
}

p {
    text-align: justify;
}

hr {
    color: #607744ff;
    width: 100%;
}

ul {
    list-style-type: square;
    padding-left: 40%;
}

table {
    margin-right: auto;
    margin-left: auto;
    border-collapse: collapse;
}

td img {
    border-radius: 5%;  
    max-height: 100%;
    max-width: 100%;
}

.main_body {
    background-color: #F1F7ED;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    max-width: 1850px;
}

.subsection {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.hr2 {
    width: 85%;
}

.header_1 {
    margin: 0%;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
}

.header_1 a {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;

    text-align: center;
    background-color: #B9BAA3;
    border-radius: 20px;
    color: black;
    text-decoration: none;
}

.header_1 a:visited {
    color: black;
    text-decoration: none;
}

.header_2 {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 25px;
    color: #1e2f23ff;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    max-width: 1850px;
}

.container {
    width: 100%;
    background-color: lightgrey;
    margin-top: 10px;
    margin-bottom: 10px;

    font-size: 20px;
}

.cplusplus {
    background-color: #FE433Cff;
    width: 80%;
    margin-left: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.python {
    background-color: #F31D64ff;
    width: 70%;
    margin-left: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.mathlab {
    background-color: #A224ADff;
    width: 60%;
    margin-left: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.javascript {
    background-color: #3C50B1ff;
    width: 50%;
    margin-left: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.text_right {
    color: whitesmoke;
    float: right;
    margin-right: 5px;
}

.text_center {
    color: whitesmoke;
    width: 80%;
    margin: auto;
}

.portfolio_subtitle {
    text-align: center;
    color: gray;
    font-weight: 700;
    letter-spacing: 5px;
    font-size: larger;
    margin-top:30px;
}

.portfolio_table td{
    padding: 5px;
}

.portfolio_parag {
    width: 80%;
    margin: auto;
}

.fecha {
    color: #B9BAA3;
}

.hobbies_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.hobbies_subt {
    width:min-content;
    margin-left: auto;
    margin-right: auto;
}


.ent_table td {
    padding-left: 5px;
}

.ent_table td a {
    display: block;
    color: #8A6A87;
    margin-bottom: 3px;
}

.ent_table td a:visited{
    color: #4a442dff;
}

.ent_table th {
    text-align: right;
    vertical-align: top;
}

.border_bottom td, .border_bottom th {
    border-bottom: 1px solid #3d3522ff;
}













/* CSS HEX 
--tart-orange: #FE433Cff;
--paradise-pink: #F31D64ff;
--purple-munsell: #A224ADff;
--violet-blue: #3C50B1ff;
--tufts-blue: #0095EFff;
*/

/* CSS HEX 
--mint-cream: #f1f7edff;
--timberwolf: #d6d5c9ff;
--laurel-green: #b9baa3ff;
--dark-lava: #544b3dff;
--olive-drab-7: #4a442dff;
--olive-drab-7-2: #3d3522ff;
*/